<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">FYP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Editor" routerLinkActive="active">Photos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Create" routerLinkActive="active">Create</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Play" routerLinkActive="active">Play</a>
      </li>
    </ul>
  </div>
  <button mat-raised-button (click)="upload.click()" type="button" class="btn btn-info" style="width: 15%">
    <span>Choose File</span>
    <input #upload type="file" (change)="detectFiles($event)" style="display:none;">
  </button>
  <button type="button" class="btn btn-success"
                [disabled]="!selectedFiles"
                (click)="uploadSingle()"
                style="width: 15%">
    Upload File
  </button>
</nav>
<div class="containter" style="padding: 20px">
  <h1>Photos Database</h1>
  <div class="row card-group">
    <div class="col-sm-4" *ngFor="let image of images; let i = index" style="padding: 10px">
      <div class="card">
        <img [src]="image" style="width: 100%; height: 15rem; object-fit: cover">
        <div class="card-block" style="padding: 10px">
          <p class="card-text">{{ imageNames[i] }}</p>
        </div>
        <div class="card-block" style="padding: 10px">
          <button type="button" mat-raised-button class="btn btn-secondary" (click)=deleteImage(images[i]) style="width: 30%">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-footer font-small special-color-dark pt-4">
  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Footer text 1</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil
          repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam recusandae
          harum esse fugiat. Itaque, culpa?</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Footer text 2</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
          commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
          excepturi hic.</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© Created by Muhammad Ameerul Hady bin Zul Hadi
  </div>
  <!-- Copyright -->
</div>
