<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <nav class="navbar navbar-expand-md navbar-default">
    <a class="navbar-brand" style="color:#c3073F" href="#">FYP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/Home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/Editor" routerLinkActive="active">Photos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/Create" routerLinkActive="active">Create</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/Play" routerLinkActive="active">Play</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid" style="padding: 5px">
    <div class="row">
      <div class="col center">
        <h1 class="animated fadeIn slow" style="text-align: center; font-size: 150px">MUZICODES</h1>
        <div style="padding: 30px">
          <p class="animated fadeIn slower delay-2s" style="text-align: center; font-size: 30px">
            Welcome to Muzicodes! Muzicodes is an interactive music based web application where you can plug in
            your own midi keyboard and play/create your own songs that are in the form of "Muzicodes".
            Playing these "Muzicodes" can trigger certain actions when you play your song.
          </p>
        </div>
      </div>
    </div>
    <div class="row" style="padding-left: 100px; padding-right: 100px">
      <div class="col-md-4 centerBullets animated fadeInLeft slow">
        <img src="/assets/images/1.png" style="height: 180px; width: 300px">
      </div>
      <div class="col-md-8 animated fadeIn slower delay-2s">
        <p style="text-align: justify; font-size: 20px;">
          Firstly, go to the photos page to upload any photos that you want to display when you are playing!
        </p>
      </div>
    </div>
    <div class="row" style="padding-left: 100px; padding-right: 100px">
      <div class="col centerBullets animated fadeInLeft slow">
        <img src="/assets/images/2.png" style="height: 180px; width: 300px">
      </div>
      <div class="col-md-8 animated fadeIn slower delay-2s">
        <p style="text-align: justify; font-size: 20px; margin: auto;">
          Secondly, go to the create page to create your "Muzicode" by putting the chords you want to use
          and select which image you want to display when pressing those chords.
        </p>
      </div>
    </div>
    <div class="row" style="padding-left: 100px; padding-right: 100px">
      <div class="col centerBullets animated fadeInLeft slow">
        <img src="/assets/images/3.png" style="height: 180px; width: 300px">
      </div>
      <div class="col-md-8 animated fadeIn slower delay-2s">
        <p class="bullets" style="text-align: justify; font-size: 20px">
          Finally, go to the play page and select a song you want to play! Make sure you plug in your midi
          keyboard to your computer and enjoy!
        </p>
      </div>
    </div>
  </div>
  <div class="page-footer font-small special-color-dark pt-4" style="background: #d3d3d3">
    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left" style="padding-left: 50px; padding-right: 50px;">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold" style="text-align: justify">Brief Information About Project</h5>
          <p class="footP">This website is my final year project and I am being supervised by Dr. Marina. My main goals are:</p>
          <p class="footP">   • To design and develop a performing arts-based technology that can be integrated within a classroom.</p>
          <p class="footP">   • Determine how the performing arts nurture skills such as thinking/cognitive, social, mathematical, reading and language skills at an early age?</p>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3">
        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Contact Me:</h5>
          <p class="footP">Name: Muhammad Ameerul Hady bin Zul Hadi</p>
          <p class="footP">Phone Number: 0162234826</p>
          <p class="footP">Email Address: hcymz1@nottingham.edu.my</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Text -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: #950740">© Created by Muhammad Ameerul Hady bin Zul Hadi
    </div>
    <!-- Copyright -->
  </div>
</body>
